apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: chatbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: kwonjh0406/chatbot-be:IMAGE_TAG
        ports:
        - containerPort: 8080
